.center {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1600px;
}

.tilt {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: grab;
}

.perspective {
  width: 100%;
  max-width: 420px;
  perspective: 2000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 360px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.face {
  position: absolute;
  inset: 0;
  border-radius: 32px;
  backface-visibility: hidden;
  box-shadow: 0 25px 45px rgba(15, 23, 42, 0.18);
}

.back {
  transform: rotateY(180deg);
}

@media (max-width: 640px) {
  .flipper {
    height: 320px;
  }
}
